.DS_Store
.env
.env.backup
.idea/
.phpunit.result.cache
/.vscode
/node_modules
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
